[submodule "components/simple-kbs"]
	path = components/simple-kbs
	url = https://github.com/csegarragonz/simple-kbs.git
[submodule "components/guest-components"]
	path = components/guest-components
	url = https://github.com/coco-serverless/guest-components
	branch = sc2-main
