# Installed binaries
cosign
crictl
kubeadm
kubectl
kubelet
k9s
nydusify
qemu-system-x86_64-igvm
ovmf-svsm.fd
svsm.bin
*.qcow2
bzImage
coconut-qemu.igvm

# Kubernetes stuff
.config

# Python-related stuff
venv

# Templated files
templated

# logs
*.log
